@import "variable";

.border-item {
  border-left-style: solid;
  border-left-width: 4px;
}
.border-demandes {
  border-left-color: $color-background_btn_demande;
}
.border-demandes-inactives {
  border-left-color: $color-BorderLeft_inactif;
}
.bg-demandes {
  background-color: $color-background_btn_demande;
}
.bg-demandes-inactives {
  background-color: $color-BorderLeft_inactif;
}
