@import "variable";
.navMenuAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenuAction__item {
  font-size: 0.9rem;
  gap: 5rem;
}

.navMenuAction__utilisateur {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  img {
    border-radius: 50%;
    width: 20%;
  }
}
.navMenuAction_btn_offre {
  color: $color-background_btn_offre;
  border-color: $color-background_btn_offre;
  &:hover {
    background-color: $color-background_btn_offre;
    color: $color_btn_hover;
  }
}
.navMenuAction_btn_demande {
  color: $color-background_btn_demande;
  border-color: $color-background_btn_demande;
  &:hover {
    background-color: $color-background_btn_demande;
  }
}
.navMenuAction_btn_entreprise {
  color: $color-background_btn_entreprise;
  border-color: $color-background_btn_entreprise;
  &:hover {
    background-color: $color-background_btn_entreprise;
  }
}
.navMenuAction_btn_candidat {
  color: $color-background_btn_candidat;
  border-color: $color-background_btn_candidat;
  &:hover {
    background-color: $color-background_btn_candidat;
  }
}
