@import "variable";

nav {
  padding: 30px 0;
  text-align: left !important;
  width: 300px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
span {
  font-size: 1.7rem;
}

.withBorder {
  border-right: 3px solid;
}

#dashboard.withBorder {
  border-right: $color-background_btn_tableau solid;
}

#demandesStage.withBorder {
  border-right: $color-background_btn_demande solid;
}

#offreStage.withBorder {
  border-right: $color-background_btn_offre solid;
}

#candidats.withBorder {
  border-right: $color-background_btn_candidat solid;
}

#entreprises.withBorder {
  border-right: $color-background_btn_entreprise solid;
}

#dashboard span {
  color: $color-background_btn_tableau;
  font-weight: bold;
}

#demandesStage span {
  color: $color-background_btn_demande;
}

#offreStage span {
  color: $color-background_btn_offre;
}

#candidats span {
  color: $color-background_btn_candidat;
}

#entreprises span {
  color: $color-background_btn_entreprise;
}


