@import "variable";
nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}
.navbar__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 1rem;
  height: 4rem;
  width: 100%;
  margin: 0 auto;
}
.navbar__container__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.6rem;
  gap: 1.5rem;
}

.nav_btn_tableau {
  color: $color-background_btn_tableau;
  &:hover {
    color: $color_btn_hover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.nav_btn_demandeStage {
  padding-right: 1rem;
  border-right: 3.5px solid;
  color: $color-background_btn_demande;
  &:hover {
    color: $color_btn_hover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.nav_btn_offres {
  color: $color-background_btn_offres;
  &:hover {
    color: $color_btn_hover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.nav_btn_candidats {
  color: $color-background_btn_candidat;
  &:hover {
    color: $color_btn_hover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.nav_btn_entreprises {
  color: $color-background_btn_entreprise;
  &:hover {
    color: $color_btn_hover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
