$color-text-principale: #363636; //Couleur dans le paragraphe ou contenu.
/* $color-text-principale: #c5c5c5; //Couleur dans le paragraphe ou contenu. */
$color-text-titre: #707070;
$color-text-noir: #111111;
$color-background_btn_tableau: #0c9da4; //Couleur des boutons dans les pages de tableau, etc.
$color-background_btn_tableau_hover: #86ced1;
$color-background_btn_demande: #d2a350; //Couleur des boutons dans les pages de demande, etc.
$color-background_btn_offre: #ba2025; //Couleur des boutons dans les pages des offres de stage, etc.
$color-background_btn_candidat: #7f2987; //Couleur des boutons dans les pages de candidat, etc.
$color-background_btn_entreprise: #86a8e6; //Couleur des boutons dans les pages de tableau, etc.
$color-background_identification: #eeeeee;
$color-background_btn_delete: #ef4444;
$color-background_btn_accept: #54b600;
$color_btn_hover: #fff;
$color-BorderLeft_demande: #986d22;
$color-BorderLeft_inactif: #848280;
$color-Background_general: #f8fafc;
