$color-text-principale: #c5c5c5; //Couleur dans le paragraphe.
$color-background_btn_tableau: #0c9da3; //Couleur dans le paragraphe.
$color-background_btn_offres: #d2a350;
$color-background_btn_offres: #ba2025;
$color-background_candidat: #9b5ba2;
$color-background_entreprise: #86a8e6;
