@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Slab&family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Slab&family=Rubik:wght@400;500;600;700&display=swap");
/*********************************/ /* General */
/*********************************/



/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

html {
  /*font-size: 62.5%;*/
}

body {
  color: #000;
  /*font-size: 1.7rem;*/
  /*line-height: 1.5;*/
  font-family: "Inter", sans-serif;
  /*font-weight: 400;*/
}

